body._lock {
  overflow: hidden;
}

.menu {
  @media screen and (max-width: 470px) {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: colors.$background-default;
    z-index: 1;
    transition: all 0.2s;
    display: flex;
    overflow: auto;
  }
  &._active {
    left: 0;
    transition: all 0.2s;
  }
  &__list {
    display: flex;
    gap: 1.3rem;
    @media screen and (max-width: 470px) {
      flex-direction: column;
      align-items: center;
      gap: 1;
      margin: auto;
      padding: toRem(60) toRem(30);
    }
  }
  &__link {
    @include mixins.fontParams(toRem(14), colors.$text-default, 600, 1.7, 0.2);
    transition: color 0.2s ease-out;
    &:hover,
    &:active {
      color: colors.$link-hover;
      transition: color 0.2s ease-out;
    }
    @media screen and (max-width: 470px) {
      font-size: 2rem;
      line-height: 70px;
    }
  }
  &__item {
    transition: transform 0.2s ease-out;
    &:hover {
      transform: translateY(2px);
      transition: transform 0.2s ease-out;
    }
  }
}

.menu-btn-l__icon {
  display: none;
  cursor: pointer;
  z-index: 5;
  @media screen and (max-width: 470px) {
    display: block;
  }
}
.menu-btn-l__close {
  display: block;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  font-size: 1.5rem;
  color: colors.$text-default;
  transition: opacity 0.5s ease;
  z-index: 2;
}
.menu-btn-l__open {
  display: block;
  position: relative;
  opacity: 1;
  visibility: visible;
  font-size: 1.5rem;
  color: colors.$text-default;
  transition: opacity 0.5s ease;
}
.menu-btn-l__icon._active .menu-btn-l__close {
  position: relative;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease;
}
.menu-btn-l__icon._active .menu-btn-l__open {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}
