// ***BACKGROUND
$background-default: #FAFAFA;
$background-blue: #0D5C63;
$background-white: #FFFFFF;
$background-violet: #252B42;
$background-violet-200: #17213C;

// ***COLOR TEXT
$text-default: #737373;
$text-title: #252B42;
$text-btn: #FFFFFF;
$text-white: #FFFFFF;

// ***COLOR BUTTON
$btn-orange: #FF7B47;
$btn-hover-orange: #ff9a72;
$btn-blue: #0D5C63;
$btn-hover-blue: #0f70795e;

// ***HOVER LINK
$link-hover: #0D5C63;

// ***COLOR FORM
$background-form: #F9F9F9;
$border-form: #E6E6E6;


