// ***BACKGROUND
$background-default: #fafafa;
$background-blue: #0d5c63;
$background-white: #ffffff;
$background-violet: #252b42;
$background-violet-200: #17213c;

// ***COLOR TEXT
$text-default: #737373;
$text-title: #252b42;
$text-btn: #ffffff;
$text-white: #ffffff;

// ***COLOR BUTTON
$btn-orange: #ff7b47;
$btn-hover-orange: #ff9a72;
$btn-blue: #0d5c63;
$btn-hover-blue: #0f70795e;

// ***HOVER LINK
$link-hover: #0d5c63;

// ***COLOR FORM
$background-form: #f9f9f9;
$border-form: #e6e6e6;
